#fichiers et dossiers générés par ./configure
.deps/
Examples/.deps/

Examples/Makefile
Makefile
config.h
config.log
config.status
stamp-h1

#fichiers et dossiers générés par make
arm_simulator
memory_test
send_irq
Examples/insertion_sort
config.h.in~

# Object files
*.o

#program examples
Examples/example?

#autoreconf
autom4te.cache/
